

* {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
/*	background-image:url('../img/background.jpg')!important;
	background-repeat:no-repeat;
	background-size: 100% auto;
	height: 100%;
	width: 100%*/;

}

div {
display: block;
}

#res_720 {
	position: absolute;
	height: 720px;
	margin-left: -640px;
	margin-top: -360px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 1280px;
	background-image:url(../img/background_1.png); 
}

#header_logo {
	position: relative;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	/*background-color: green;*/
	width: 98.4%;
}

.logo {
	height:100px;
	width: 30px;
}

.logo_image {
	width:445px;
	height:auto;
}

.column_1 {
	width: 850px;
	height: 550px;
}

.column_2 {
	position: absolute;
	width: 430px;
	margin-left: 850px;
	height: 550px;
	margin-top: -550px;

}

#weather-image {
	padding-left: 61px;
	padding-top: 354px;

}

#weather{
	margin-right: 20px;
}


.weather-text_1 {
	font-family: 'Nexa Bold';
	color: white;
	width: 90px;
	margin-left: 20px;
	margin-top: 415px;
	position: absolute;
	font-size: 100px;


}
#date_time {
	color: white;
	position: absolute;
	z-index: 4;
	margin-left: 1176px;
	margin-top: 567px;
	
}

#day {
	font-family: 'Nexa Light';
	font-size: 30px;
}

#month {
	font-size: 'Nexa Bold'
}
#website {
	float: right;
	clear:both;
	font-family: 'Nexa Light';
	color: #808080;
	font-size: 34px;
}

span {
	font-family: 'Nexa Bold'
}

#slides-controls {
	display: none;
}

#phone_number {
	float: right;
	font-family: 'Nexa Bold';
	color: #808080;
	font-size: 50px;
}


#image_ad {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 840px;
	height: 100%;
	/*background-color: blue;*/
}

.ad {
	width: 1010px;
	height: auto;
}

.ad_1 {
	width: 844px;
	height: 550px;

}

#wrapper {
    position: absolute;
}

#middle {
    border-radius: 21px 21px 21px 21px;
    overflow: hidden; 
    position: absolute;
    z-index: 3;
}

#box {
    width: 840px;
    height: 100%;
}

#box_1 {
    width: 410px;
    height: 100%;
    color: green;
}

#event_health_info {
	border-radius: 21px 21px 21px 21px;
	position: absolute;
	margin-left: 10px;
	height: 550px;
	background: #000013; /* Old browsers */
	background: -moz-linear-gradient(top,  #000013 0%, #2989d8 48%, #207cca 57%, #29abe2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000013), color-stop(48%,#2989d8), color-stop(57%,#207cca), color-stop(100%,#29abe2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000013', endColorstr='#29abe2',GradientType=0 ); /* IE6-9 */

    z-index: 0;
	width: 410px;

}

#weather_time {
 position: absolute;
 height: 140px;
 /*background-color: orange;*/
 width: 410px;
 margin-top: 410px;
	margin-left: 10px;
}


#hashtag_footer {
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
	height: 100px;
	background-color: pink;
	width: 98.4%;

}


#container {
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);

}

#main_container {
	
	height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}


@font-face {
    font-family: 'Nexa Bold';
    src: url(../font/Nexa_Bold.oft) format('opentype');
}

@font-face {
   font-family: "Nexa Light";
   src: url(../font/Nexa_Light.otf) format('opentype');
}