

* {
	/*list-style: none;
*/	margin: 0;
	padding: 0;
}

body {
/*	background-image:url('../img/background.jpg')!important;
	background-repeat:no-repeat;
	background-size: 100% auto;
	height: 100%;
	width: 100%*/;

}

div {
display: block;
}
.news {
	 font-family: "NexaBoldRegular";
	color:white;
	font-size: 23px;
	/*position: absolute;*/
	padding-top: 8px;
}
.weather-text_2 {
	color:white;
	font-family: "HelveticaLTStdBold";
}

#res_720 {
	position: absolute;
	height: 720px;
	margin-left: -640px;
	margin-top: -360px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 1280px;
	background-image:url(../img/background_1.png); 
}

#header_logo {
	position: relative;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	/*background-color: green;*/
	width: 98.4%;
}

.logo {
	height:100px;
	width: 30px;
}

.logo_image {
	width:445px;
	height:auto;
}

.column_1 {
	width: 850px;
	height: 550px;
}

.column_2 {
	position: absolute;
	width: 430px;
	margin-left: 850px;
	height: 550px;
	margin-top: -550px;

}

#weather-image {
	padding-left: 24px;
	padding-top: 373px	

}

#weather{
	margin-right: 20px;
	font-family: "HelveticaLTStdBold";

}

iframe {
	margin-left: 180px;
}
.weather-text_1 {
	font-family: "HelveticaLTStdBold";
	
	color: white;
	width: 90px;
	margin-left: 20px;
	margin-top: 436px;
	position: absolute;
	font-size: 100px;


}
#date_time {
	color: white;
	position: absolute;
	z-index: 4;
	margin-left: 1175px;
	margin-top: 441px;
	font-family: "HelveticaLTStdBold";
	
	
}

#times {
	font-family: "HelveticaLTStdBold";
	color: white;
	font-size: 39px;
	margin-right: -20px;
	margin-top: 83px;
	position: absolute;
}



#day {
	text-transform:uppercase;
	font-size: 24px;
	margin-left: -83px;
	position: absolute;
	margin-top:105px;
	font-family: "HelveticaLTStdLight"
}

#month {
	font-family: "HelveticaLTStdBold";
	margin-left: -90px;
	margin-top: 120px;
	font-size: 19px;
	
}

#time {
	color: white;
	font-size: 38px;
	margin-top: 532px;
	margin-left: 230px;
	font-family: "HelveticaLTStdBold";
	border-radius: 5px 5px 5px 5px;
	position: relative;
	z-index: 3;


}

#weather-square {
	box-shadow: 10px 10px 5px rgba(0,0,0,0.05);
	border-radius: 3px 3px 3px 3px;
	width: 170px;
	height: 121px;
	background-color: #00aacf;
	position: absolute;
	z-index: 0;
	margin-top: -130px;
	margin-left: 216px;
}

#website {
	float: right;
	clear:both;
	font-family: "NexaLightRegular";
	color: #808080;
	font-size: 26px;
	margin-top: 30px;
}

span {
	font-family: "NexaBoldRegular"
	
}

#contact-info {

}

#slides-controls {
	display: none;
}

.slide {
	border-radius: 5px 5px 5px 5px;
}

#phone_number {
	float: right;
	font-family: "NexaBoldRegular";
	color: #808080;
	font-size: 35px;
	position:relative;
	margin-bottom: -27px;
}


#image_ad {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 840px;
	height: 100%;
	border-radius: 5px 5px 5px 5px;

	/*background-color: blue;*/
}

.ad {
	width: 1010px;
	height: auto;

}

.ad_1 {
	width: 844px;
	height: 550px;


}

#wrapper {
    position: absolute;
}

#middle {
    border-radius: 5px 5px 5px 5px;
    overflow: hidden; 
    position: absolute;
    z-index: 3;
}

#box {
    width: 840px;
    height: 100%;
}

#box_1 {
    width: 410px;
    height: 100%;
    color: green;
}

#event_health_info {
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	margin-left: 10px;
	height: 550px;
	background: #000013; /* Old browsers */
	background: -moz-linear-gradient(top,  #000013 0%, #2989d8 48%, #207cca 57%, #29abe2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000013), color-stop(48%,#2989d8), color-stop(57%,#207cca), color-stop(100%,#29abe2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000013 0%,#2989d8 48%,#207cca 57%,#29abe2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000013', endColorstr='#29abe2',GradientType=0 ); /* IE6-9 */

    z-index: 0;
	width: 410px;

}

#weather_time {
 position: absolute;
 height: 140px;
 /*background-color: orange;*/
 width: 410px;
 margin-top: 410px;
	margin-left: 10px;
}

#tips {
		font-family: "BebasNeueRegular";
		color:white;
		margin-left: 30px;
		clear:both;
		font-size: 25px;

}

.tips_list {
	margin-bottom: 5px;
}

#hashtag_footer {
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
	height: 37px;
	background-color: #FBB03B;
	width: 98.4%;
	border-radius: 5px 5px 5px 5px;

}

p{
	text-align: center;
	clear:both;
}

#p {
	margin-top: 40px;
	font-size: 20px;
}

#health_tip {
	font-family: "BebasNeueRegular";
	text-decoration:underline;
	color:white;
	margin-top: -502px;
	margin-left: 50px;
	font-size: 35px;
}

#container {
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);

}

#main_container {
	
	height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#twitter-logo {
	width: 33px;
	margin-top: 5px;
	padding-left: 13px;
}

@font-face {
    font-family: 'NexaBoldRegular';
    src: url('../fonts/nexa_bold.eot');
    src: url('../fonts/nexa_bold.eot') format('embedded-opentype'),
         url('../fonts/nexa_bold.woff') format('woff'),
         url('../fonts/nexa_bold.ttf') format('truetype'),
         url('../fonts/nexa_bold.svg#NexaBoldRegular') format('svg');
}

@font-face {
    font-family: 'NexaLightRegular';
    src: url('../fonts/nexa_light.eot');
    src: url('../fonts/nexa_light.eot') format('embedded-opentype'),
         url('../fonts/nexa_light.woff') format('woff'),
         url('../fonts/nexa_light.ttf') format('truetype'),
         url('../fonts/nexa_light.svg#NexaLightRegular') format('svg');
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebasneue.eot');
    src: url('../fonts/bebasneue.eot') format('embedded-opentype'),
         url('../fonts/bebasneue.woff') format('woff'),
         url('../fonts/bebasneue.ttf') format('truetype'),
         url('../fonts/bebasneue.svg#BebasNeueRegular') format('svg');
}


@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('../fonts/helveticaltstd-bold.eot');
    src: url('../fonts/helveticaltstd-bold.eot') format('embedded-opentype'),
         url('../fonts/helveticaltstd-bold.woff') format('woff'),
         url('../fonts/helveticaltstd-bold.ttf') format('truetype'),
         url('../fonts/helveticaltstd-bold.svg#HelveticaLTStdBold') format('svg');
}

@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../fonts/helveticaltstd-light.eot');
    src: url('../fonts/helveticaltstd-light.eot') format('embedded-opentype'),
         url('../fonts/helveticaltstd-light.woff') format('woff'),
         url('../fonts/helveticaltstd-light.ttf') format('truetype'),
         url('../fonts/helveticaltstd-light.svg#HelveticaLTStdLight') format('svg');
}



