@font-face {
    font-family: 'NexaLightRegular';
    src: url('nexa_light.eot');
    src: url('nexa_light.eot') format('embedded-opentype'),
         url('nexa_light.woff') format('woff'),
         url('nexa_light.ttf') format('truetype'),
         url('nexa_light.svg#NexaLightRegular') format('svg');
}
